name: CI

on:
  pull_request:
  push:
    branches:
      - 'staging'
      - 'master'

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dprint/check@v2.0

  clippy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [
          stable,
          beta
        ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: clippy
          profile: minimal
      - uses: Swatinem/rust-cache@v1.3.0
      - run: cargo clippy --workspace --all-targets -- -D warnings

  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.50.0
          override: true
          profile: minimal
      - uses: Swatinem/rust-cache@v1.3.0
      - run: cargo build

  tests:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        rust: [
          stable,
          beta
        ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          components: clippy
          profile: minimal
      - uses: Swatinem/rust-cache@v1.3.0
      - run: cargo build --tests
      - run: cargo test --workspace
